body {
  flex-direction: column;
  display: flex;
  margin: 0;
}

header {
  background-color: #1f2937;
  padding: 16px;
  height: 650px;
}

nav {
  background-color: #1f2937;
}

h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
  position: absolute;
  left: 145px;
  top: 100px;
}

.text,
a {
  font-size: 18px;
  color: #e5e7eb;
}

.text {
  width: 600px;
  height: 200px;
  font-size: 20px;
  text-align: justify;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 50px;
  position: absolute;
  left: 100px;
  top: 200px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  margin: 0;
  padding: 30px;
  gap: 16px;
  right: 150px;
  position: absolute;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  position: absolute;
  left: 150px;
  padding: 30px;
}

.firstimg {
  width: 400px;
  height: 500px;
  position: absolute;
  top: 150px;
  right: 150px;
}
button.signUp {
  background: #3882f6;
  color: white;
  border: 1px solid #3882f6;
  top: 70%;
  left: 150px;
  position: absolute;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10%;
  gap: 20px;
}

h4 {
  font-size: 34px;
  font-weight: extra bold;
  color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  max-width: 200px;
  padding: 10px;
  border: 3px solid #1f2937;
  border-radius: 10%;
}
.action {
  background-color: #3882f6;
}

.qoute {
  background-color: #e5e7eb;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  height: 100px;
  padding: 10%;
  right: 100px;
}

p.author {
  position: absolute;
  right: 150px;
}

.container2 {
  padding: 10%;
  height: 100px;
}

.action {
  width: 74%;
  height: 100px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: 15px;
  color: white;
  flex-direction: column;
  position: absolute;
}
.textaction {
  font-weight: bold;
  font-size: 20px;
  padding: 15px;
  position: absolute;
  top: 0;
}
.paction {
  color: white;
  padding: 15px;
  position: absolute;
  top: 50px;
}

button.learn {
  background: #3882f6;
  color: white;
  border: 1px solid #f6f8fa;
  position: absolute;
  right: 100px;
}
footer {
  background-color: #1f2937;
  color: white;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
}
