header {
  background-color: #1f2937;
}

h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
}

.text,
a {
  font-size: 18px;
  color: #e5e7eb;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

button.signUp {
  background: #3882f6;
  color: white;
  border: 1px solid #3882f6;
}
